@import "fonts";
#site-title {
	text-transform: uppercase;
	font-family: "Coconat", sans-serif;
	font-weight: bold;
	font-size: 48px;
	line-height: 1.6;
}
#site-subtitle {
	font-family: "Coconat", sans-serif;
	font-weight: normal;
	color: #2d2d2d;
}
html,
body {
	background: #fffaf7;
	color: #2d2d2d;
	font-family: "Happy Times", serif;
	font-size: 17px;
	line-height: 1.65;
}
h1, h2, h3 {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	line-height: 1.2;
}
h1 {
	font-size: 1.65rem;
}
h2 {
	font-size: 1.4rem;
}
a,
a:visited {
	color: darkred;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
main {
	margin: auto;
	max-width: 38rem;
	padding: 0.8rem;
}
pre {
	background: white;
	overflow: scroll;
	padding: 1rem;
}
td {
	border: 1px solid #2d2d2d;
	padding: 10px;
}
img {
	height: auto;
	max-width: 100%;
}
.homepage-list {
	list-style: none;
	padding: 1rem 0;
}
.homepage-list li {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 10px;
}
time {
	font-family: "Happy Times", serif;
}


@media (max-width: 38rem) {
	.homepage-list li a {
		width: 100%;
	}
}

@media screen and (max-width: 500px) {
	#site-title {
	  font-size: 6.4vw;
	}
}

