<meta property="og:site_name" content="{{config.title}}"/>
<meta property="og:type" content="{% block ogtype %}website{% endblock ogtype %}"/>
{% if config.extra.author -%}
  <meta name="author" content="{{ config.extra.author }}" />
{%- endif %}
<meta property="og:title" content="{% block ogtitle %}{{config.title}}{% endblock ogtitle %}" />
<meta property="og:description" content="{% block ogdesc %}{{config.description}}{% endblock ogdesc %}" />
<meta property="og:url" content="{% block ogurl %}{{config.base_url | safe }}{% endblock ogurl %}" />
<meta property="og:image" content="{% block ogimage %}{% if config.extra.ogimage %}{{ get_url(path=config.extra.ogimage) | safe }}{% endif %}{% endblock ogimage %}" />

{% if page.earlier -%}
  <link rel="prev" href="{{ page.earlier.permalink | safe }}" />
{%- endif %}
{% if page.later -%}
  <link rel="next" href="{{ page.later.permalink | safe }}" />
{%- endif %}